<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rominou34.github.io/papillon/src/min/papillon.min.css">
    <script src="https://rominou34.github.io/papillon/src/js/papillon.js"></script>
    <script src="https://rominou34.github.io/papillon/src/js/dom.js"></script>
    <script src="https://rominou34.github.io/papillon/src/js/misc.js"></script>
    <script src="/sailor/scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/sailor/assets/style.css">
  </head>
  <body class="navside" ng-app="sailor">
    <header class="container soft-col stack-sm no-margin">
      <div class="col-9 no-margin">Sailor</div>
      <div class="col-3 text-right no-margin" id="user-info" ng-controller="getSessions">
        <a ng-if="sessions.do_login == 0" class="button success no-margin" href="https://cloud.digitalocean.com/v1/oauth/authorize?response_type=code&client_id=8580e580ddf4f61f9891efabcfae5b0cddbef0cd7e7b1fa16e659e28b70edfc8&redirect_uri=https://sailor.rominou.moe/oauth/index.php">Log In</a>
        <span ng-if="sessions.do_login == 1" >Hi</span>
      </div>
    </header>
    <nav class="side" ng-controller="routeCtrl">
      <div class="toggle"></div>
      <!-- <div class="header">
        <h2>Sailor</h2>
      </div> -->
      <div class="links">
        <a href="" ng-click='navigate("/")'>Home</a>
        <div class="category">
          <span>Digital Ocean</span>
          <a href="" ng-click='navigate("/dig_ocean/droplets")'>Droplets</a>
          <a href="" ng-click='navigate("/dig_ocean/account")'>Account</a>
        </div>
        <a href="" ng-click='navigate("/test")'>Test</a>
      </div>
    </nav>
    <ng-view></ng-view>
  </body>
</html>
