/*
*** INIT ***
*/
html, body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

html, body, p, div, article, h1, h2, h3, h4, h5, h6, form {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*** BODY ***
*/

html, body {
  font-size: 16px;
  font-family: sans-serif;
}

body {

}

main {
  margin: 1em;
  background-color: #f4f6f9;
  width: auto;
  max-width: none;
  padding: 1em;
}

/*
*** HEADER ***
*/
body > header {
  font-size: 24px !important;
  font-family: sans-serif;
}

#user-info:hover {
  background-color: #6da5f9;
  cursor: pointer
}

/*
*** NAV ***
*/
/*
nav {
  width: 240px;
  background-color: #242424;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

nav .toggle {
  display: none;
}

nav .header {
  background-color: #08d;
  text-align: center;
  padding: 2em;
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  display: block;
}

nav a:hover {
  background-color: #484848;
}
*/

/*
*** DROPLETS ***
*/
.droplet-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 4px solid #08d;
  border-radius: 0 4px 4px 0;
  margin: 0.5em auto;
  padding: 0.5em 2em;
  color: #586977;
  width: 100%;
  max-width: 640px;
  position: relative;
  display: block;
}

.droplet-item.active {
  border-left: 4px solid #23c623;
}

.droplet-item.off {
  border-left: 4px solid #c62d23;
}

.droplet-item.new {
  border-left: 4px solid #1ea8ff;
}

.droplet-item.archive {
  border-left: 4px solid #aabac4;
}

.droplet-item:hover {
  top: -1px;
  box-shadow: 1px 2px 6px 0 #a2a2a2;
  cursor: pointer;
}

.droplet-item .name {
  font-size: 24px;
}

.droplet-item .id {
  font-size: 18px;
  color: #bac6d1;
}
